*/.vs
*/x64
*/GPR300_EmptyWindow/x64
*/GPR300_Transformations_Template/.vs
*/GPR300_Transformations_Template/x64
*/GPR300_Transformations_Template/GPR300_Transformations_Template/x64
*/GPR300_Lighting_Template/.vs
*/GPR300_Lighting_Template/x64
*/GPR300_Lighting_Template/GPR300_Lighting_Template/x64
*/Texturing/.vs
*/Texturing/x64
*/Texturing/GPR300_Lighting_Template/x64
*/Post_Processing/.vs
*/Post_Processing/x64
*/Post_Processing/GPR300_Lighting_Template/x64
*/ShadowMapping/.vs
*/ShadowMapping/x64
*/ShadowMapping/GPR300_Lighting_Template/x64